#first ignore everything
/*
# "un-ignore in the root folder
# the source code
!*.cc
# the gitignore
!.gitignore
# the cmakelist
!CMakeLists.txt

# "un-ignore the header folder
!/myheaders
#Now ignore all the content of the folder myheaders
/myheaders/*
#Un-ignore the source code
!/myheaders/*.h

# unignore the Vis folder
!/Vis
# now ignore all the content of the folder
/Vis/*
#unignore the houdini files
!/Vis/*.hipnc
# unignore the houdini python scripts
!/Vis/*.py


# unignore the example folder
!/examples
# ignore all the content of the folder
/examples/*
# unignore the box2D example
!/examples/box2D
ignore all the content of box2D
/examples/box2D/*
#unignore the *.npsat files
!/examples/box2D/*.npsat
