#first ignore everything
/*
# "un-ignore in the root folder
# the source code
!*.cc
# the gitignore
!.gitignore
# the cmakelist
!CMakeLists.txt

# "un-ignore the header folder =========Header========
!/myheaders
#Now ignore all the content of the folder myheaders
/myheaders/*
#Un-ignore the source code
!/myheaders/*.h

# unignore the Vis folder =========Vis========
!/Vis
# now ignore all the content of the folder
/Vis/*
#unignore the houdini files
!/Vis/*.hipnc
# unignore the houdini python scripts
!/Vis/*.py


# unignore the example folder =========Examples========
!/examples
# ignore all the content of the folder
/examples/*
# unignore the box2D example ----------box2D-----------
!/examples/box2D
ignore all the content of box2D
/examples/box2D/*
#unignore the *.npsat files
!/examples/box2D/*.npsat
# unignore the box3D example ----------box3D-----------
!/examples/box3D
ignore all the content of box3D
/examples/box3D/*
#unignore the *.npsat files
!/examples/box3D/*.npsat
# unignore the file01 example ----------file01-----------
!/examples/file01
ignore all the content of file01
/examples/file01/*
#unignore the *.npsat files
!/examples/file01/*.npsat

